<%- include('./includes/top.ejs'); %>
</head>
<body>
    <%- include('./includes/nav.ejs'); %>
    <dir class="content">
        <h1>User to add page:</h1>
        <form action="/add-user" method="POST">
            <input type="text" name="username">
            <button type="submit">Ok</button>
        </form>
    </dir>
</body>
</html>