<%- include('./includes/header.ejs') %>
<%- include('./includes/nav.ejs') %>
    <h1>ACCUEIL</h1>
    <p>Bon, cette page ne sert à rien mais c'est plus marrant avec plusieurs routes!</p>
    <img class="smile-img" src="/img/smile.jpeg" alt="smile">
<%- include('./includes/end.ejs') %>